body {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(39, 37, 37);
}

button {
  display: block;
}

th,
td {
  padding: 5px 10px 5px 0px;
  text-align: left;
}

a {
  margin-right: 10px;
}
